.custom-scrollbar {
    overflow-y: auto;
    height: 631px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    /*background: #1e1e1e; // BackCouleur  */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff17;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(171, 171, 171, 0.09);
}
.container-text { /* Largeur de la div */
    font-size: 10px;
    overflow: hidden; /* Pour cacher le texte dépassant */
    white-space: nowrap; /* Pour empêcher le texte de passer à la ligne */
    text-overflow: ellipsis; /* Ajoute les points de suspension */

    color: #565c70;
    font-family: Inter; font-weight: 600; word-wrap: break-word; margin-top: 5px
}